<!DOCTYPE html>
<html xmlns:th	="http://thymeleaf.org"
	  xmlns:layout	="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout">
	<head>
		<meta charset="utf-8">
		<title>Music Shop</title>					
	</head>
	<body>
	<div layout:fragment="content">
		<div class ="container">			
			<div class="card border-success">
				<ul class="nav nav-pills nav-fill">
				  <li class="nav-item" th:each="m:${listMusicGenres}">
				  <a class="nav-link" th:href="@{/index(musicGenreId=${m.id})}" th:text="${m.name}"></a> 
				</ul>
				<div class="card-header bg-success text-white text-uppercase">Liste des albums</div>
					<div class="card-body">
						<form class="mb-2" th:action="@{/index}" method="get">
							<label>Keyword</label>
							<input type="text" name="keyword" th:value="${keyword}">
							<button type="submit" class="btn btn-success">Search</button>
						</form>
						<table class ="table table-striped">
							<thead class="bg-success p-2 text-dark bg-opacity-50" >
								<tr>
									<th>Id</th><th>Titre de l'album</th><th>Nom du groupe</th> <th>Annee de sortie</th><th>Prix</th><th>Genre Musical</th>
								</tr>
							</thead>
								<tbody>
									<tr th:each="a:${listAlbums}">
										<td th:text="${a.id}"></td>
										<td th:text="${a.albumName}"></td>	
										<td th:text="${a.bandName}"></td>
										<td th:text="${a.releaseYear}"></td>
										<td th:text="${a.price}"></td>
										<td th:text="${a.musicGenre.name}"></td>
										<td><a class="" th:href="@{/addCart(id=${a.id})}">Ajouter au panier</a>
										</td>
										<td><a class="btn btn-danger" th:href="@{/delete(id=${a.id}, page=${currentPage}, keyword=${keyword})}">Delete</a>
										</td>
										<td><a class="btn btn-success btn-opacity-50" th:href="@{/edit(id=${a.id})}">Edit</a>
										</td>
									</tr>
								</tbody>
						</table>							
						<ul class= "nav nav-pills">
							<li class="nav-item" th:class="${currentPage==status.index}?'active':''" th:each="page,status:${pages}">
								<a class="nav-link" th:href="@{/index(page=${status.index}, keyword=${keyword}, musicGenreId=${musicGenreId})}" th:text="${status.index}+1"></a>
							</li>
						</ul>							
					</div>
				</div>		
			</div>
		</div>
	</body>
</html>